body { 
    background: #f5f5fa; 
    color: #1f1f29; 
}

.container {
    width: 85%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}

/* colors */
/* green: #04aa6d */

body {
    background-color: offwhite;
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  header {
    background-color: #04aa6d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  nav {
    background-color: plum;
  }
  
  footer {
    background-color: skyblue;
  }
  
  section {
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  nav ul li a:hover {
    background-color: #111;
  }
  
  /* table formatting */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #04aa6d;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: coral;
  }
  
  .table-description {
    font-size: 1.1rem;
    color: #666;
    font-variant: small-caps;
  }
  
  /* end table formatting */
  
  .responsive-img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  .error {
    color: red;
    text-decoration: line-through;
  }
  
  #container {
    width: 85%;
    margin: 0 auto;
  }